<%= form_for (@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>

  </div>
  <div class="field">
    <%= f.label :description %>:<br>
    <%= f.text_area :description, :size => "100x10"%>
  </div>
  <%number=1%>
  <div>
    <%= f.fields_for :images do |builder|%>

      <div class = "fields">
      <div id="test">
          <div class="wrapper" style = "float:left">
            <%= builder.file_field(:picture, class: "hide#{number}")%>
          </div>
          <div class= "image" style = "float:left">
            <%= image_tag("/image.png",class: "image#{number}")%>
          </div>
      </div>
      </div>
      <%number+=1%>
    <%end%>

  </div>
  <div class="actions">
  <br><br><br><br>
  <%= f.submit %>
  </div>
<% end%>


<script>
$.each([1,2,3], function(i,num){
  $(".image"+num).click(function() {
    $(".hide"+num).click();
  });
});
</script>

