<div class = "page_header"><h1>My Posts</h1></div>
<div class = "container">
	<%= form_tag("/search", method: "post") do%>
	  <%= label_tag(:q, "Search for Item")%>
	  <%= text_field_tag(:q)%>
	  <%= submit_tag("Search")%>
	 <%end%><br>

<div>
	<%= form_for :trip, url: {action: "locate"}, html: {method: "get"} do |f| %>
  		<%= f.select :state_id, options_for_select(@states.collect { |state|
    		[state.name, state.id] }, 1), {}, { id: 'states_select' } %>
  		<%= f.select :city_id, options_for_select(@cities.collect { |city|
    		[city.name, city.id] }, 0), {}, { id: 'cities_select' } %>
    	<%= f.select :area_id, options_for_select(@areas.collect { |area| 
  			[area.name, area.id] }, 0),{},{ id: 'areas_select'} %>
  		<%= f.submit "find it!" %>
	<% end %>
	<br>
</div>
<div class = "row">
	<% if @posts%>
		<% @posts.each do |post|%>
		
		<div class="col-xs-8 col-sm-1 col-md-3">
        <div class="well">
			<%= link_to post.title, post%> <br>	
			<%= '%.100s' % post.description%> <br>
			<%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'}%>
		</div>
		</div>
	<% end %>
	<%end%>
</div>
</div>
<%= link_to 'new post', new_post_path%>
