<h1><%= @post.title %></h1>
<div>
	<p><%if @post.images %>
		<% @post.images.each do |image|%>
		<%= image_tag image.picture.to_s %>
		<%end%>
	<%end%></p>
</div>

<div>
	<p><string>Description:</string><%= @post.description %></p>
</div>

<div>
	<p>Email address: <%= @user.email %></p>
</div>
<div>
	<p>Post by: <%= @user.first_name+" "+@user.last_name %></p>
</div>
<%= link_to 'back', root_path%>